{% comment %}

  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp "form action"
  and insert it in your site settings.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

{% endcomment %}
{% form 'customer' %}
  <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
  <input type="text" id="contact_email" name="contact[email]" placeholder='john@gmail.com'/>
  <style>
    @media screen and (max-width: 766px){
      #contact_email{
        width: 80%;
        margin:10px auto;
      }
    }
  </style>
  {% if form.posted_successfully? %}
    <p style='color:#F95923'>Email Updated Successfully!</p>
  {% else %}
    {{ form.errors | default_errors }}
  {% endif %}
  <input type='submit' style='width:100px;' value='Subscribe'/>
{% endform %}