 <ul class="inline-list social-icons" style="text-align:center;">
  {% if settings.share_twitter %}
    <li>
      <a id="twitter" class="icon-fallback-text" style="color: #00aced;" onmouseover="this.style.color='#008ccd';" onmouseout="this.style.color='#00aced';">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="fallback-text">Twitter</span>
      </a>
    </li>
  {% endif %}
  {% if settings.share_facebook %}
    <li>
      <a id="facebook" class="icon-fallback-text" style="color: #3b5998;" onmouseover="this.style.color='#1b3978';" onmouseout="this.style.color='#3b5998';">
        <span class="icon icon-facebook" aria-hidden="true"></span>
        <span class="fallback-text">Facebook</span>
      </a>
    </li>
  {% endif %}
  {% if settings.share_pinterest %}
    <li>
      <a id="pinterest" class="icon-fallback-text" style="color: #cb2027;" onmouseover="this.style.color='#ab0007';" onmouseout="this.style.color='#cb2027';">
        <span class="icon icon-pinterest" aria-hidden="true"></span>
        <span class="fallback-text">Pinterest</span>
      </a>
    </li>
  {% endif %}
  {% if settings.share_tumblr %}
    <li>
      <a id="tumblr" class="icon-fallback-text" style="color: #35465c;" onmouseover="this.style.color='#15263c';" onmouseout="this.style.color='#35465c';">
        <span class="icon icon-tumblr" aria-hidden="true"></span>
        <span class="fallback-text">Tumblr</span>
      </a>
    </li>
  {% endif %}
</ul>