<div class="wrapper">
	<h1 class="a">Oops.. 404!</h1>
	<p>The page you were looking for appears to have been moved, deleted or does not exist. You could go back to <a href="javascript:history.go(-1)">where you were</a> or head straight to our <a href="/">home page</a></p>
</div>
