{% if collection.title contains 'Lens' %}

  <div class = "wrapper space-on-top">
    {% for product in collection.products %}
      <div class="grid__item {{grid_item_width}}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
        <a href="{{ product.url | within: collection }}" class="grid-link{% if settings.collections_center_grid_link %} text-center{% endif %}">
          <span class="grid-link__image grid-link__image--product">
            <span class="grid-link__image-centered">
              <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
            </span>
          </span>
        </a>
      </div>
    {% else %}
      <h1 style = 'text-align:center'>Oops.. No products!</h1>
    {% endfor %}
  </div>

{% elsif collection.title contains 'Artist' %}
  
  {% include 'artist-collection' %}

{% elsif collection.title contains 'Clear' or collection.title contains 'Snap' or collection.title contains 'Tough' or collection.title contains 'Accessory' %}
  {% paginate collection.products by 24 %}
    <div class = "grid__collection">
      {% for product in collection.products %}
      
        {% include 'product-grid-item' %}

      {% else %}

        <h1 style = 'text-align:center'>Oops.. No products!</h1>

      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      <hr class="hr--clear">

      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}

  {% endpaginate %}
{% else %}
  
  {% include 'artist-single' %}

{% endif %}
